body {
  background-color: #083c3c;
  color: #000;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

select {
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.swap {
  font-size: 24px;
  cursor: pointer;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.result {
  margin: 20px 0;
  font-weight: bold;
}
